# Entornos virtuales
env/
.venv/

# Ejecutables del navegador
chromedriver.exe

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
*.env
.env

# Archivos de sistema
.DS_Store
Thumbs.db
